{% load static %}

<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact manager</title>

    <!-- Pico css -->
    <link rel="stylesheet" href="{% static 'css/pico.min.css' %}" />

    <!-- HTMX JS -->
    <script src="{% static 'js/htmx.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <main class="container">
      <hgroup>
        <h1>Contact manager</h1>
        <p>Simple CRUD Contact manager Application Django + HTMX + PicoCSS</p>
      </hgroup>

      <div id="contact-container">
        {% include 'contacts/partials/contact_table.html' %}
      </div>
    </main>

    <script>
      document.body.addEventListener("htmx:configRequest", function (evt) {
        const token = document.querySelector("[name=csrfmiddlewaretoken]");

        if (token) {
          evt.detail.headers["X-CSRFToken"] = token.value;
        }
      });
    </script>
  </body>
</html>
