/* my services */

.services {
    position: relative;
    background-color: #171717;
    border-radius: 50px;
    overflow: hidden;
}

.services__container {
    position: relative;
    z-index: 2;
}

.services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.services__bg {
    position: absolute;
    inset: 0;
    background-image: url("/portfolio/assets/images/myServicesBg.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 1;
}
