.hero {
    padding-top: 120px;
    background-color: var(--light);
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}



/* зүүн тал */
.hero__content {
    max-width: 520px;
}

.hero__badge {
    display: inline-block;
    margin-bottom: 16px;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 20px;
    background-color: rgba(255, 122, 47, 0.1);
    color: var(--primary);
}

.hero__title {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero__title span {
    color: var(--primary);
}

.hero__text {
    margin-bottom: 32px;
    font-size: 16px;
}


/* баруун тал зураг */
.hero__image-wrapper {
    position: relative;
    width: 420px;
    height: 520px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero__image-wrapper img {
    position: relative;
    z-index: 2;
}

.hero__shape {
    position: absolute;
    bottom: 0;
    width: 420px;
    height: 420px;
    background-color: #f6b37f;
    border-radius: 50%;
    z-index: 1;
}